html{
    height: 100%;
}

body{
    background-color: #66A972;
    background-image: url(./img/World\ Map.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container header{
    text-align: center;
    height: 450px;
}
header .img-logo{
    height: 600px;
}
.container nav{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.container nav .nav-item{
    color: #DFCB00;
    font-size: 40px;
    margin-right: 40px;
    text-decoration: none;
    transition: 0.5s;
}
.container nav .nav-item:hover{
    color: #E50004;
    font-size: 25px;
    transition: 0.5s;
    text-decoration: underline;
}

.container h1{
    text-align: center;
    color: #143B72;
}
.grid-container {
    display: grid;
    grid-template-areas: 
    'auto auto auto'
    'text-info text-info text-info';
    gap: 50px;
    padding: 25px;
}
.grid-container{
    text-align: center;
    padding: 20px 0;
}
.grid-container img{
    height: 200px;
}

.grid-container article p{
    text-align: center;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.container footer{
    color: white;
    text-align: center;
    font-size: 20px ;
}
.foot {
    background-color: #110D53;
    padding-bottom: 25px;
    padding-top: 25px;
}


@media only screen and (max-width: 980px) and (min-width: 821px){}

@media only screen and (max-width: 820px) and (min-width: 621px){}

@media only screen and (max-width: 620px) and (min-width: 501px){}

@media only screen and (max-width: 500px) and (min-width: 341px){}

@media only screen and (max-width: 340px) and (min-width: 5px){}